*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardDetailsContainer{
    width: 100vw;
    height: calc(100vh - 10vh);
    background-color: #1A191C;
    padding: 0 25px 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cardDetailsContainer h1{
    color: white;
}

.detailsCard{
    width: 100%;
    height: 50vh;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.containerBox1{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.cardBoxIcon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}
.cardBox{
    width: 30%;
    height: 40vh;
   
}
.cardBox h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 150px;
}

.containerBox2{
    width: 100%;
    height: 10vh;
    background-color: #FD366E;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    color: white;
}

.description{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}


@media screen and (max-width: 576px) {
   .cardDetailsContainer{
    width: 100vw;

   }
   .cardBox{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:self-start;
    justify-content: left;
    text-align: left;
    row-gap: 10px;
   }
   .description{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
   }

   .cardBox h1{
    font-size: 55px;
   }

   .cardBoxIcon img{
    width: 55px;
    height: 55px;
   }

   .detailsCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .containerBox1{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
}

